@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";

* {
  box-sizing: border-box;
}

body {
 @include outer-container;
 font-family: sans-serif;
}

header {
  @include span-columns(12);
  background: #F5F5F5;
  height: 50px;
  border-bottom: 1px #E5E5E5 solid;
  // margin: 0;

  #logo {
    @include span-columns(1);
    font-size: 25px;
    padding: 12px 0px 0px 30px;
    margin: 0;
  }

  .siteMenu {
    @include span-columns(9);
    margin-top: 12px;
    height: 30px;

    input {
      @include span-columns(5);
      height: 26px;
      padding-left: 8px;
      font-size: 12px;
    }

    a {
      display: inline-block;
      margin-right: 8px;
      margin-top: 5px;
      color: #333333;
      font-family: sans-serif;
      font-weight: bolder;
      text-decoration: none;
      font-size: 13px;
      font-weight: bolder;

      &:hover{
        color: #4078C0;
      }

      .pull {
        @include span-columns(1.4);
      }
      .issues,
      .gist {
        @include span-columns(1.1);
      }
    }

    .octicon {
      // margin-top: 15px;
      text-decoration: none;
      font-size: 16px;
      font-family: sans-serif;
      color: #333333;
    }

    #down {
      font-size: 5px;
    }
  }

  .profileNav {
    @include span-columns(2);
    margin-top: 15px;

    .smallProfilePic {
      @include span-columns(2);
      height: 25px;
      border-radius: 5px;
      position: relative;

      i {
        position: absolute;
        top: 3px;
        font-size: 12px;
      }
    }

    a {
      @include span-columns(2.3);
      margin-right: 5px;
      color: #333333;
      text-decoration: none;
      font-size: 22px;
      font-weight: lighter;

      &:hover {
        color: #4078C0;
      }

      #down {
          font-size: 12px;
        }
    }
  }
}

main {
  @include span-columns(12);
  height: 100%;

  .userDetails {
  @include span-columns(3);
  height: 500px;

  .profilePic {
    @include span-columns(12);
    margin-top: 20px;
    border-radius: 10px;
    height: 225px;
    }

  .nameBlock{
    @include span-columns(12);
    border-bottom: 1px #DDDDDD solid;
    padding-bottom: 15px;
    margin-top: 12px;

    #name {
      font-size: 25px;
      font-weight: bolder;
    }

    #userName {
      display: block;
      color: #666666;
      font-size: 20px;
      font-weight: lighter;
    }
  }

  .joinBox {
    @include span-columns(12);
    border-bottom: 1px #DDDDDD solid;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 85px;

    span {
      display: block;
      margin-top: 10px;
      color: #666666;
      font-size: 12px;
    }

    #joined {

    }
  }

  .followBlock{
    @include span-columns(12);
    border-bottom: 1px #DDDDDD solid;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 70px;
    position: relative;

    span {
      position: absolute;
      font-size: 12px;
      color: #666666;
    }

    .followers,
    .starred,
    .following {
      @include span-columns(3);
      font-size: 25px;
      font-weight: bold;
      color: #4078C8;
      position: absolute;
      margin-bottom: 10px;
    }

    .followers {
      left: 47px;
    }

    .starred {
      left: 122px;
    }

    .following {
      left: 194px;
    }

    .followSpan{
      top: 40px;
      left: 30px;
    }

    .starredSpan {
      top: 40px;
      left: 108px;
    }

    .followingSpan{
      top: 40px;
      left: 175px;
    }
  }

  .organizations{
    @include span-columns(2);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;

    .orgLogo {
      @include span-columns(12);
      margin-top: 15px;
      height: 40px;
    }
  }
}

  .tabs {
    @include span-columns(9);
    height: 40px;
    margin-right: 0;
    margin-top: 10px;
    border-bottom: 1px #DDDDDD solid;

    a {
      @include span-columns(2.5);
      height: 40px;
      font-size: 14px;
      padding-top: 15px;
      margin-right: 5px;
      color: #333333;
      text-decoration: none;
      text-align: center;

      &:focus{
        border-bottom: 1px #fff solid;
        border-left:1px #DDDDDD solid;
        border-right:1px #DDDDDD solid;
        border-top: 1px #DDDDDD solid;
      }
    }
  }



  .repoNavBar {
    @include span-columns(9);
    height: 60px;
    border-bottom: 1px #DDDDDD solid;
    margin: 0;

    .repoSearch {
      @include span-columns(6);
      margin-top: 10px;

      input {
        @include span-columns(8);
        height: 35px;
        border-radius: 5px;
        border: 1px #CCCCCC solid;
        padding-left: 8px;
        font-size: 12px;
      }
      button {
        @include span-columns(3);
          background: #F8F8F8;
          height: 35px;
          border-radius: 5px;
          border: 1px #CCCCCC solid ;
          font-weight: bolder;
          font-size: 12px;

          &:hover {
            background: #CCCCCC;
          }
      }
    }

    .repoNavType{
      @include span-columns(6);
      margin-right: 0;
      // position: relative;

      a{
        display: inline-block;
        margin-top: 20px;
        margin-right: 3px;
        font-family: sans-serif;
        font-size: 14px;
        color: #4078C0;
        text-decoration: none;

        &:focus {
          color: #000;
          font-weight: bolder;
          text-decoration: none;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      button {
        background: #83D666;
        width: 70px;
        height: 35px;
        margin-left: 5px;
        border-radius: 5px;
        color: #fff;
        font-size: 12px;
        font-weight: bolder;
        border: 1px #5CA941 solid;

        &:hover {
          background: #5CA941;
        }
      }
    }
  }

  .repos {
    @include span-columns(9);
    height: 100%;

    .repo {
      height: 100px;
      padding-top: 30px;
      border-bottom: 1px #DDDDDD solid;

    .repoName {
      @include span-columns(9);
      font-size: 20px;
      color: #4078C0;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
    .language {
      @include span-columns(1);
      @include shift(.7);
      color: #888888;
      font-size: 14px;
      text-align: right;
    }
    #starGazers{
      @include span-columns(.5);
      display: inline-block;
      margin-top: 2px;
      color: #888888;
      font-size: 14px;
    }
    #forks {
      color: #888888;
      font-size: 14px;
    }
    .updated{
      @include span-columns(5);
      margin-top: 10px;
      color: #888888;
      font-size: 14px;
    }
    }
  }
}

footer {
  @include span-columns(12);
  height: 50px;
  background: #F5F5F5;
  display: inline-block;
  padding-top: 15px;

  span{
    @include span-columns(1.8);
    @include shift(.5);
    font-size: 13px;
  }

  .footerLeft {
    @include span-columns(3.5 of 12);

    a {
      text-decoration: none;
      font-size: 13px;
      color: #4078C0;
      margin-right: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #logo {
    @include span-columns(1);
    @include shift(.5);
    font-size: 25px;
    color: #CCCCCC;
  }

  .footerRight {
    @include span-columns(4 of 12);
    @include shift(.5);

    a {
      text-decoration: none;
      font-size: 13px;
      color: #4078C0;
      margin-right: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
